body {
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
  padding-left: 50px;
  padding-right: 20%;
}

h1,h2,h3,h4 {
    width: 100%;
    min-width: 840px;
}

hr {
    margin-left: 0;
    padding-left: 0;
	width: 100%;
	min-width: 840px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

code {
    background-color: #E8E8E8;
    padding-left: 3px;
    padding-right: 3px;
}

pre {
    background-color: #E8E8E8;
    margin-left: 30px;
    padding: 5px;
    width: 80%;
}

table {
    border: none;
}

td {
    padding-left: 20px;
}

a:hover {
    color: #696969;
}

#content {

	width: 75%;
	min-width: 600px;
	margin-left: 200px;
}

#sidebar {
	float: left;
	width: 200px;
	min-width: 200px;
}

#sidebar a,
#sidebar a:visited,
#sidebar a:active {
    color: blue;
}

#sidebar a:hover {
    color: #696969;
}

#sidebar li {
    margin-left: -25px;
    list-style: none;
}

#footer {
	clear: both;
	width: 100%;
}

.post {
	margin: 10px;
}

.post h2>a,
.post h2>a:visited,
.post h2>a:active {
    text-decoration: none;
    color: blue;
}

.post h2>a:hover {
    color: #696969;
}

.entry {
	margin-left: 15px;
	padding: 10px;
}

.entry img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.meta {
	margin-top: -10px;
	margin-bottom: -3px;
	margin-left: 5px;
}
