<!DOCTYPE html>

<html>
	<head>
        <meta charset="utf-8"/>
        <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/style.css" />
        <meta name="description" content=""/>
        <link rel="author" href="humans.txt"/>
        <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{{site.baseurl}}/feed.xml" />
	</head>

	<body>
		<div id="header">
            <h1>Welcome to {{ site.name }}</h1>
            <h4>{{ site.description }}</h4>
			<hr />
		</div>

		<div id="sidebar">

			<h3>First Heading</h3>

			<ul>
                <li><a href="{{site.baseurl}}/">Home</a></li>
                <li><a href="{{site.baseurl}}/archive">Archive</a></li>
                <li><a href="{{site.baseurl}}/feed.xml">RSS Feed</a></li>
			</ul>

			<h3>Second Heading</h3>

			<ul>
				<li><a href="#">Link 1</a></li>
				<li><a href="#">Link 2</a></li>
				<li><a href="#">Link 3</a></li>
			</ul>
		</div>

		<div id="content">

			{{ content }}

		</div>

		<div id="footer">
			<hr />
            <p>&copy; 2012 {{ site.author }}</p>
		</div>

	</body>

</html>
